<h1 class="mat-h1">Product history</h1>

<form [formGroup]="filters" class="mat-elevation-z8">
  <mat-form-field>
    <input
      matInput
      placeholder="Search name"
      type="text"
      name="name"
      formControlName="name"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Search store"
      type="text"
      name="name"
      formControlName="storeName"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="beforePicker"
      placeholder="Purchased before"
      name="Purchased before"
      formControlName="purchasedBefore"
    >
    <mat-datepicker-toggle matSuffix [for]="beforePicker"></mat-datepicker-toggle>
    <mat-datepicker #beforePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="afterPicker"
      placeholder="Purchased after"
      name="Purchased after"
      formControlName="purchasedAfter"
    >
    <mat-datepicker-toggle matSuffix [for]="afterPicker"></mat-datepicker-toggle>
    <mat-datepicker #afterPicker></mat-datepicker>
  </mat-form-field>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="store">
    <th mat-header-cell *matHeaderCellDef> Store </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.store.url" target="_blank" rel="noopener">
        {{element.store.name}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="purchasedAt">
    <th mat-header-cell *matHeaderCellDef> Purchased at </th>
    <td mat-cell *matCellDef="let element">
      <!--
        LLLL is locale based so may differ, but for static
        Sunday, Feburary 14th 2010, 15:25
        use dddd, MMMM Do YYYY, hh:mm
      -->
      {{element.purchasedAt | amDateFormat: 'LLLL'}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
